{% extends 'base.html' %}
{% block title %}Оплата{% endblock %}
{% block content %}
  <p><table>
    <caption>Таблица оплаты</caption>
    <thead>
      <tr>
        <th>Клиент</th>
        <th>Кол-во</th>
        <th>Стоимость</th>
        <th>Описание</th>
        <th>Текст</th>
      </tr>
    </thead>
    <tbody>
    {% for client in human_list %}
      <tr>
        <td>{{ client }}</td>
        <td>{{ client.active }}</td>
        <td>{{ client.cost }}</td>
        <td>{{ client.description }}</td>
        <td class="copy-all">Добрый день! Напоминаем об оплате услуг ГЛОНАСС за {{ month }} - {{ client.cost }} руб за {{ client.active }} ТС. Оплатите по ссылке, указав нужную сумму вручную: https://lnk.paykeeper.ru/7Uxzyy2u<br/>✅ После оплаты обязательно отправьте чек сюда, пожалуйста.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table></p>
{% endblock %}
