{% extends 'base.html' %}
{% block title %}Оплата{% endblock %}
{% block content %}
  <p><table>
    <caption>Таблица оплаты</caption>
    <thead>
      <tr>
        <th>Клиент</th>
        <th>Кол-во</th>
        <th>Стоимость</th>
        <th>Описание</th>
        <th>Текст</th>
      </tr>
    </thead>
    <tbody>
    {% for client in human_list %}
      <tr>
        <td>{{ client }}</td>
        <td>{{ client.active }}</td>
        <td>{{ client.cost }}</td>
        <td>{{ client.description }}</td>
        <td>Добрый день! Напоминаем о переводе за ГЛОНАСС за {{ month }}: {{ client.cost }} руб за {{ client.active }} ТС на Сбер, Альфа или Т-банк по номеру +79154545686 (Андрей Алексеевич Л)</td>
      </tr>
    {% endfor %}
    </tbody>
  </table></p>
{% endblock %}
