<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чек-страница</title>
</head>
<body>
    <p style="color:red;">Симкарты без терминалов:</p>
    <ol>
    {% for num in sim_list %}
        <li>{{ num }}, {{ num.operator }}</li>
    {% endfor %}
    </ol>
    <p style="color:red;">Юзеры без человека:</p>
    <ol>
    {% for user in user_list %}
        <li>{{ user }}</li>
    {% endfor %}
    </ol>
    <p style="color:red;">Терминалы без объектов Wialon:</p>
    <ol>
    {% for term in term_list %}
        <li>{{ term }}</li>
    {% endfor %}
    </ol>
    <p style="color:red;">Объекты Wialon без статуса:</p>
    <ol>
    {% for obj in wia_obj_list %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ol>
</body>
</html>