{% extends 'base.html' %}
{% block title %}Чек-страница{% endblock %}
{% block content %}
    <p style="color:red;">Активные объекты на серверах:</p>
    {% for serv in wia_obj_serv_active %}
        <p>{{ serv }}, {{ serv.active }}</p>
    {% endfor %}
    <p style="color:red;">Симкарты без терминалов:</p>
    <ol>
    {% for num in sim_list %}
        <li>{{ num }}, {{ num.operator }}</li>
    {% endfor %}
    </ol>
    <p style="color:red;">Юзеры без человека:</p>
    <ol>
    {% for user in user_list %}
        <li>{{ user }}</li>
    {% endfor %}
    </ol>
    <p style="color:red;">Терминалы без объектов Wialon:</p>
    <ol>
    {% for term in term_list %}
        <li>{{ term }}</li>
    {% endfor %}
    </ol>
    <p style="color:red;">Объекты Wialon без статуса:</p>
    <ol>
    {% for obj in wia_obj_list %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ol>
{% endblock %}