{% extends 'base.html' %}
{% block title %}Информация{% endblock %}
{% block content %}
<h2>Ретрансляторы</h2>
<h3>РНИС МОСКВЫ</h3>
<p><a target="_blank" href="https://rnis.mos.ru/">Оф. адрес сайта</a></p>
<p><b>IP адрес:</b> data.rnis.mos.ru</p>
<p><b>Порт:</b> 4444</p>
<p><b>Протоколы:</b> EGTS, Navtelekom, GalileoSky, AvtoGRAF, Bin (Orbita), NDTP, <b>Wialon IPS</b>, Teltonika</p>
<p>Если вы передаете телематику по протоколу EGTS, то должен быть указан корректный тип в зависимости от установленных оператором настроек передачи:</p>
<p><i>*EGTS_O, если соблюдаются условия:</i><p>
<ul>
  <li>Идентификатор АТТ передается в составе телематики в поле OID,</li>
  <li>Идентификатор АТТ содержит до 10 цифр (максимальное значение OID 4 294 967 295)</li>
</ul>
<p><i>*EGTS_I, если соблюдаются условия:</i></p>
<ul>
  <li>Идентификатор АТТ передается в составе телематике в поле IMEI,</li>
  <li>Идентификатор АТТ содержит до 15 цифр</li>
</ul>
<p><i>*Максимальный интервал передачи данных <b>2 минуты</b></i></p>
<h3>РНИС МО</h3>
<p><a target="_blank" href="https://portal.rnis.mosreg.ru/page/connection">Оф. адрес сайта</a></p>
<p><b>IP адрес:</b> 185.120.188.209</p>
<p><b>Протокол:</b> EGTS</p>
<p><b>Порт:</b></p>
<ul>
  <li>53060, 53061 (перевозка учащихся)</li>
  <li>53014, 53016 (вывоз мусора)</li>
  <li>53041, 53040 (Коммунальное хозяйство МО)</li>
  <li>53010 (для ретрансляции), 52008 (для прямой передачи БСНО) - (Дорожное хозяйство МО)</li>
  <li>52032 (транспортировка умерших)</li>
</ul>
<h3>САБКУТР</h3>
<p><a target="_blank" href="https://ossigmos.ru/vnimanie-polzovatelej-ais-ossig-k-sisteme-sapkutr/">Оф. адрес сайта</a></p>
<p><i>*Сначала нужно зарегистрироваться в РНИС МОСКВА</i></p>
<p><b>IP адрес:</b> 94.79.51.144</p>
<p><b>Порт:</b> 12300</p>
<p><b>Протокол:</b> Wialon IPS</p>
<h2>Хостинги</h2>
<table>
  <caption>Адреса серверов</caption>
  <tr><th>Сервер</th><th>Домен (оборудование)</th><th>IP (оборудование)</th><th>Hosting</th><th>CMS</th></tr>
  <tr><td>Wialon.COM</td><td>nl.gpsgsm.org</td><td>193.193.165.165</td><td><a target="_blank" href="https://hosting.wialon.com/">https://hosting.wialon.com/</a></td><td><a target="_blank" href="https://cms.wialon.com/">https://cms.wialon.com/</a></td></tr>
  <tr><td>Wialon.RU</td><td>ru.gpsgsm.org</td><td>185.213.0.24</td><td><a target="_blank" href="https://hosting.wialon.ru/">https://hosting.wialon.ru/</a></td><td><a target="_blank" href="https://cms.wialon.ru/">https://cms.wialon.ru/</a></td></tr>
  <tr><td>Wialon.LOCAL</td><td>onwc.ru</td><td></td><td><a target="_blank" href="http://online.wialon.center/">http://online.wialon.center/</a></td><td><a target="_blank" href="http://cms.wialon.center/">http://cms.wialon.center/</a></td></tr>
</table>
<p><table>
  <caption>Порты<caption>
  <tr><th>Марка/Модель</th><th>Wialon</th><th>FM</th></tr>
  <tr><td>Навтелеком / Smart S-24xx</td><td>21626</td><td>65511</td></tr>
  <tr><td>Навтелеком / Smart S-23xx</td><td>20966</td><td>65511</td></tr>
  <tr><td>Навтелеком / Signal S-2551</td><td>20740</td><td>65511</td></tr>
  <tr><td>Навтелеком / Signal S-26xx</td><td>21889</td><td>65511</td></tr>
  <tr><td>Неоматика / ADM333</td><td>21848</td><td>65511</td></tr>
  <tr><td>Неоматика / ADM007</td><td>21404</td><td>65511</td></tr>
</table></p>
<h2>Навтелеком</h2>
<p><a target="_blank" href="https://navtelecom.ru/ru/">Официфльный сайт</a></p>
<p><a target="_blank" href="https://disk.yandex.ru/i/S52Uvt4Uc6BI4Q">Протокол FLEX. Описание параметров.</a></p>
<h3>Smart S-24xx</h3>
<table>
  <caption>Команды</caption>
  <tr><th>Функция</th><th>GPRS</th><th>SMS</th></tr>
  <tr><td>Смена сервера</td><td>*!EDITS TRANS:SRV1(,,,nl.gpsgsm.org)</td><td></td><tr>
  <tr><td rowspan="2">Удалённое подключение</td><td rowspan="2">*!CNCT_RCS:89.208.152.55:8100:84008748</td><td>314511<br>NTC_CONNECT<br>89.208.152.55<br>8100<br>24402551</td></tr>
  <tr><td>314511 *!CNCT_RCS 89.208.152.55,8100,73609794</td></tr>
  <tr><td>Обновить прошивку устройсва до последней версии</td><td>*!CNCT_RFU:89.208.152.55:9100:LAST</td><td>314511 *!CNCT_RFU:89.208.152.55:9100:LAST</td></tr>
  <tr><td>Соединиться с DRC сервером</td><td>*!CNCT_DRC</td><td>314511 *!CNCT_DRC</td></tr>
  <tr><td>Смена сим-карты</td><td>*!CHNGSIM</td><td>314511 *!CHNGSIM</td></tr>
  <tr><td>Перезагрузка устройства</td><td>*!DEV_RESET</td><td>314511 *!DEV_RESET</td></tr>
  <tr><td>Запрос модели устройства и версии прошивки устройства</td><td>*?V</td><td>314511 *?V</td></tr>
  <tr><td>Калибровка акселерометра</td><td>*!ACL_C:G3</td><td>314511 CALIB ACL G</td></tr>
  <tr><td>Команда ВКЛ выхода</td><td>*!2Y</td><td>314511 *!2Y</td></tr>
  <tr><td>Команды ВЫКЛ выхода</td><td>*!2N</td><td>314511 *!2N</td></tr>
  <tr><td>Включение роуминга на 1й симкарте</td><td>*!EDITS TRANS:ROAM(3000,,300,,1),ROAMSIM1(1,,1,1,,,,,,,,,,)</td></tr>
  <tr><td>Запись дополнительных точек трека, при певышении скорость 130 км/ч (GNSS)</td><td>*!EDITS TRACK:POINTS(,1,130,,,,,,,,)</td></tr>
  <tr><td>Узнать ICCID активной симкарты</td><td>*?ICCID</td><td>314511 *!CNCT_DRC</td></tr>
  <tr><td>Узнать ICCID всех симкарт</td><td>*?ICCID 3</td></tr>
</table>
<h2>Неоматика</h2>
<p><a href="https://disk.yandex.ru/d/LrOk643VPZPlaw" target="_blank">Инструкции к оборудованию</a></p>
<table>
  <caption>Команды</caption>
  <tr><th>Функция</th><th>GPRS</th><th>SMS</th></tr>
  <tr><td>Запрос статуса</td><td>STATUS</td><td>STATUS 314511</td></tr>
  <tr><td>Запрос ICCID установленный симкарт</td><td>ICCID</td><td>ICCID 314511</td></tr>
  <tr><td>Перезагрузка устройства</td><td>RESET</td><td>RESET 314511</td></tr>
  <tr><td>Обновление прошивки</td><td>UPDATE</td><td>UPDATE 314511</td></tr>
  <tr><td>Смена сервера на Local</td><td>SETHOST0 onwc.ru:21848</td><td>SETHOST0 onwc.ru:21848 314511</td></tr>
  <tr><td>Смена сервера на COM</td><td>SETHOST0 nl.gpsgsm.org:21848</td><td>SETHOST0 nl.gpsgsm.org:21848 314511</td></tr>
  <tr><td>Смена сервера на RU</td><td>SETHOST0 ru.gpsgsm.org:21848</td><td>SETHOST0 ru.gpsgsm.org:21848 314511</td></tr>
  <tr><td>Удалённое подключение</td><td>REMOTE</td><td>REMOTE 314511</td></tr>
  <tr><td>Регистрация номера телефона</td><td>ADD ME +79991112233</td><td>ADD ME 314511</td></tr>
  <tr><td>Активация выхода</td><td>OUTPUT 1</td><td>OUTPUT 1 314511</td></tr>
  <tr><td>Деактивация выхода</td><td>OUTPUT 0</td><td>OUTPUT 0 314511</td></tr>
</table>
<h3>Управление устройством по SMS</h3>
<dl>
  <dt>Принципы</dt>
  <dd>Если номер не авторизирован в терминале, на команды с этого номера он не реагирует</dd>
  <dd>Если не установлен пароль, любой номер может зарегистрировать себя, установить пароль и управлять устройством</dd>
  <dt>Вывод:</dt>
  <dd>Установка пароля является <strong>ОБЯЗАТЕЛЬНЫМ</strong> мероприятием!</dd>
</dl>
<h2>Wialon</h2>
<p><a target="_blank" href="https://help.wialon.com/help/wialon-hosting/ru/user-guide/">Wialon. Инструкция</a></p>
<p><a target="_blank" href="https://forum.gurtam.com/">Wialon. Форум</a></p>
<p><table>
  <caption>Wialon, тексты уведомлений</caption>
  <tbody>
    <tr><th>Уведомление</th><th>Текст</th></tr>
    <tr>
      <td>МО</td>
      <td>Уведомление: МО.<br>Объект: %UNIT%.<br>Описание: Объект вышел из "%ZONE%".<br>Время: %POS_TIME%.<br>Скорость: %SPEED%.<br>Место: %LOCATION%. %GOOGLE_LINK%.</td>
    </tr>
    <tr>
      <td>Отключение питания</td>
      <td>Уведомление: Отключение питания.<br>Объект: %UNIT%.<br>Описание: !ГЛОНАСС обесточен! Отключили прибор или сняли АКБ с машины!<br>%SENSOR(*Бортовое напряжение)%.<br>Время: %POS_TIME%.<br>Скорость: %SPEED%.<br>Место: %LOCATION%. %GOOGLE_LINK%.</td>
    </tr>
    <tr>
      <td>Разряд АКБ в машине</td>
      <td>Уведомление: Разряд АКБ в машине.<br>Объект: %UNIT%.<br>Описание: Разряд Аккумуляторной батареи в машине.<br>Бортовое напряжение: %SENSOR_VALUE%.<br>Время: %POS_TIME%.<br>Скорость: %SPEED%.<br>Место: %LOCATION%. %GOOGLE_LINK%.</td>
    </tr>
    <tr>
      <td>Связь</td>
      <td>Уведомление: Связь.<br>Объект: %UNIT%.<br>Описание: %LOSE_RESTORE%.<br>Время: %POS_TIME%.<br>Скорость: %SPEED%.<br>Место: %LOCATION%. %GOOGLE_LINK%.</td>
    </tr>
    </tbody>
</table></p>
<h2>Ретрансляторы</h2>
<h3>РНИС МСК</h3>
{% endblock %}
