{% extends 'base.html' %}
{% block title %}Информация{% endblock %}
{% block content %}
<h2>Хостинги</h2>
<table>
  <caption>Адреса серверов</caption>
  <tr><th>Сервер</th><th>Домен (оборудование)</th><th>IP (оборудование)</th><th>Hosting</th><th>CMS</th></tr>
  <tr><td>Wialon.COM</td><td>nl.gpsgsm.org</td><td>193.193.165.165</td><td><a href="https://hosting.wialon.com/">https://hosting.wialon.com/</a></td><td><a href="https://cms.wialon.com/">https://cms.wialon.com/</a></td></tr>
  <tr><td>Wialon.RU</td><td>ru.gpsgsm.org</td><td>185.213.0.24</td><td><a href="https://hosting.wialon.ru/">https://hosting.wialon.ru/</a></td><td><a href="https://cms.wialon.ru/">https://cms.wialon.ru/</a></td></tr>
  <tr><td>Wialon.LOCAL</td><td>onwc.ru</td><td></td><td><a href="http://online.wialon.center/">http://online.wialon.center/</a></td><td><a href="http://cms.wialon.center/">http://cms.wialon.center/</a></td></tr>
  <tr><td>Fort Monitor</td><td>dev.fort-monitor.ru</td><td>95.213.250.92</td><td><a href="https://web.fort-monitor.ru/login.aspx">https://web.fort-monitor.ru/</a></td></tr>
</table>
<p><table>
  <caption>Порты<caption>
  <tr><th>Марка/Модель</th><th>Wialon</th><th>FM</th></tr>
  <tr><td>Навтелеком / Smart S-24xx</td><td>21626</td><td>65511</td></tr>
  <tr><td>Навтелеком / Smart S-23xx</td><td>20966</td><td>65511</td></tr>
  <tr><td>Навтелеком / Signal S-2551</td><td>20740</td><td>65511</td></tr>
  <tr><td>Навтелеком / Signal S-26xx</td><td>21889</td><td>65511</td></tr>
  <tr><td>Неоматика / ADM333</td><td>21848</td><td>65511</td></tr>
  <tr><td>Неоматика / ADM007</td><td>21404</td><td>65511</td></tr>
</table></p>
<p><a href="https://help.wialon.com/help/wialon-hosting/ru/user-guide/">Wialon. Инструкция</a></p>
<p><a href="https://forum.gurtam.com/">Wialon. Форум</a></p>
<p><a href="https://support.fort-monitor.ru/">Fort Monitor. Инструкция</a></p>
<h2>Навтелеком</h2>
<p><a href="https://navtelecom.ru/ru/">Официфльный сайт</a></p>
<h3>Smart S-24xx</h3>
<table>
  <caption>Команды</caption>
  <tr><th>Функция</th><th>TCP</th><th>SMS</th></tr>
  <tr><td>Смена сервера</td><td>*!EDITS TRANS:SRV1(,,,nl.gpsgsm.org)</td><td></td><tr>
  <tr><td rowspan="2">Удалённое подключение</td><td rowspan="2">*!CNCT_RCS:89.208.152.55:8100:84008748</td><td>314511<br>NTC_CONNECT<br>89.208.152.55<br>8100<br>24402551</td></tr>
  <tr><td>314511 *!CNCT_RCS 89.208.152.55,8100,73609794</td></tr>
  <tr><td>Обновить прошивку устройсва до последней версии</td><td>*!CNCT_RFU:89.208.152.55:9100:LAST</td><td>314511 *!CNCT_RFU:89.208.152.55:9100:LAST</td></tr>
  <tr><td>Соединиться с DRC сервером</td><td>*!CNCT_DRC</td><td>314511 *!CNCT_DRC</td></tr>
  <tr><td>Смена сим-карты</td><td>*!CHNGSIM</td><td>314511 *!CHNGSIM</td></tr>
  <tr><td>Перезагрузка устройства</td><td>*!DEV_RESET</td><td>314511 *!DEV_RESET</td></tr>
  <tr><td>Узнать ICCID активной симкарты</td><td>*?ICCID</td><td>314511 *!CNCT_DRC</td></tr>
  <tr><td>Узнать ICCID всех симкарт</td><td>*?ICCID 3</td></tr>
  <tr><td>Калибровка акселерометра</td><td>*!ACL_C:G3</td><td>314511 CALIB ACL G</td></tr>
  <tr><td>Команда ВКЛ выхода</td><td>*!2Y</td><td>314511 *!2Y</td></tr>
  <tr><td>Команды ВЫКЛ выхода</td><td>*!2N</td><td>314511 *!2N</td></tr>
  <tr><td></td></tr>
</table>
<p><table>
  <caption>Wialon, тексты уведомлений</caption>
  <tr>
    <th>Уведомление</th>
    <th>Текст</th>
  </tr>
  <tr>
    <td>МО</td>
    <td>Уведомление: МО.<br>Объект: %UNIT%.<br>Описание: Объект вышел из "%ZONE%".<br>Время: %POS_TIME%.<br>Скорость: %SPEED%.<br>Место: %LOCATION%. %GOOGLE_LINK%.</td>
  </tr>
  <tr>
    <td>Отключение питания</td>
    <td>Уведомление: Отключение питания.<br>Объект: %UNIT%.<br>Описание: !ГЛОНАСС обесточен! Отключили прибор или сняли АКБ с машины!<br>%SENSOR(*Бортовое напряжение)%.<br>Время: %POS_TIME%.<br>Скорость: %SPEED%.<br>Место: %LOCATION%. %GOOGLE_LINK%.</td>
  </tr>
  <tr>
    <td>Разряд АКБ в машине</td>
    <td>Уведомление: Разряд АКБ в машине.<br>Объект: %UNIT%.<br>Описание: Разряд Аккумуляторной батареи в машине.<br>Бортовое напряжение: %SENSOR_VALUE%.<br>Время: %POS_TIME%.<br>Скорость: %SPEED%.<br>Место: %LOCATION%. %GOOGLE_LINK%.</td>
  </tr>
  <tr>
    <td>Связь</td>
    <td>Уведомление: Связь.<br>Объект: %UNIT%.<br>Описание: %LOSE_RESTORE%.<br>Время: %POS_TIME%.<br>Скорость: %SPEED%.<br>Место: %LOCATION%. %GOOGLE_LINK%.</td>
  </tr>
</table></p>
{% endblock %}
