{% extends 'base.html' %}
{% block title %}Макс-инструкции{% endblock %}
{% block content %}
    <h1>По установкам</h1>
    <p><table border="1" cellspacing="0">
      <caption>Новым клиентам RU, COM</caption>
      <tbody>
        <tr><th>№</th><th>Текст</th></tr>
        <tr><td>1</td><td>Скачайте приложение "Wialon"</td></tr>
        <tr><td>2</td><td>Логин:</td></tr>
        <tr><td>3</td><td>89315365865</td></tr>
        <tr><td>4</td><td>Пароль:</td></tr>
        <tr><td>5</td><td>m5r0H</td></tr>
        <tr><td>6</td><td>Настройки приложения сделайте такими:</td></tr>
        <tr><td>7</td><td>--Фото с настройками приложения--</td></tr>
        <tr><td>8</td><td>
            Вам будет настроены PUSH-уведомления:<br>
            -Отключение питания прибора<br>
            -Потеря связи с прибором<br>
            -Разряд аккумуляторной батареи на машине<br>
            -Выезд из Московской области<br>
            Если нужно изменить уведомления или ненужные отключить, дайте знать</td></tr>
        <tr><td>9</td><td>По абонентскому обслуживанию 350 руб, я вам буду отписывать о переводе начиная с 25 числа - за следующий месяц</td></tr>
        <tr><td>10</td><td>Если какое-то время не планируете пользоваться, можно отключить объект и симку на срок до 6 месяцев. Далее оператор может заблокировать симку</td></tr>
      </tbody>
    </table></p>
    <p><table border="1" cellspacing="0">
      <caption>Новым клиентам local</caption>
      <tbody>
        <tr><th>№</th><th>Текст</th></tr>
        <tr><td>1</td><td>Скачайте приложение "Wialon local"</td></tr>
        <tr><td>2</td><td>Адрес сервера (нужно вставить в верхнюю строку в приложении):</td></tr>
        <tr><td>3</td><td>http://online.wialon.center/</td></tr>
        <tr><td>4</td><td>Далее нажимайте галочку или кнопку "Открыть"</td></tr>
        <tr><td>5</td><td>Логин:</td></tr>
        <tr><td>6</td><td>89315365865</td></tr>
        <tr><td>7</td><td>Пароль:</td></tr>
        <tr><td>8</td><td>m5r0H</td></tr>
        <tr><td>9</td><td>Инструкция по входу</td></tr>
        <tr><td>10</td><td>--Фото с инструкцие по входу--</td></tr>
        <tr><td>11</td><td>Настройки приложения сделайте такими:</td></tr>
        <tr><td>12</td><td>--Фото с настройками приложения--</td></tr>
        <tr><td>13</td><td>
            Вам будет настроены PUSH-уведомления:<br>
            -Отключение питания прибора<br>
            -Потеря связи с прибором<br>
            -Разряд аккумуляторной батареи на машине<br>
            -Выезд из Московской области<br>
            Если нужно изменить уведомления или ненужные отключить, дайте знать</td></tr>
        <tr><td>14</td><td>По абонентскому обслуживанию 350 руб, я вам буду отписывать о переводе начиная с 25 числа - за следующий месяц</td></tr>
        <tr><td>15</td><td>Если какое-то время не планируете пользоваться, можно отключить объект и симку на срок до 6 месяцев. Далее оператор может заблокировать симку</td></tr>
      </tbody>
    </table></p>
    <p><table border="1" cellspacing="0">
      <caption>РНИС</caption>
      <tbody>
        <tr><th>№</th><th>Текст</th></tr>
        <tr><td>1</td><td>Данные для регистрации в РНИС:</td></tr>
        <tr><td>2</td><td>Протокол:</td></tr>
        <tr><td>3</td><td>ЕГТС</td></tr>
        <tr><td>4</td><td>марка/модель:</td></tr>
        <tr><td>5</td><td>Navtelecom/Signal</td></tr>
        <tr><td>6</td><td>Идентификатор:</td></tr>
        <tr><td>7</td><td>a777aa77</td></tr>
        <tr><td>8</td><td>43170027</td></tr>
      </tbody>
    </table></p>
    <p><table border="1" cellspacing="0">
      <caption>Правило создания объектов</caption>
      <tbody>
        <tr><th>№</th><th>Действие</Дей></th></tr>
        <tr><td>1</td><td>Копируем объект "Hosting"</td></tr>
        <tr><td>2</td><td>Имя объекта</td></tr>
        <tr><td>3</td><td>ID объекта</td></tr>
        <tr><td>4</td><td>Учётная запись клиента</td></tr>
        <tr><td>5</td><td>Доступ пользователя к объекту "Стандарт"</td></tr>
        <tr><td>6</td><td>Иконка</td></tr>
        <tr><td>7</td><td>Произвольные поля/td></tr>
        <tr><td>8</td><td>Заносим в группу установщика и клента (или Частника)</td></tr>
      </tbody>
    </table></p>
    <p><table border="1" cellspacing="0">
      <caption>Функция "Новая Установка":</caption>
      <tbody>
        <tr><td>1</td><td>Дожидаемся от Лехтина А:</td></tr>
        <tr><td></td><td align="right">1</td><td>Имя клиента</td></tr>
        <tr><td></td><td align="right">2</td><td>Инофрамцию новый или старый клиент</td></tr>
        <tr><td></td><td></td><td>если клиент новый:</td></tr>
        <tr><td></td><td></td><td align="right">1</td><td>Запрашиваем информацию на каком он будет сервере</td></tr>
        <tr><td></td><td></td><td align="right">2</td><td>Создаём учётную запись(номер телефона через 8) и пользователя (пароль 5 знаков)</td></tr>
        <tr><td></td><td></td><td align="right">3</td><td>Даём права новому пользователю на учётную запись "Общие":</td></tr>
        <tr><td></td><td></td><td></td><td align="right">1</td><td>Просмотр элемента и его основных свойств</td></tr>
        <tr><td></td><td></td><td></td><td align="right">2</td><td>Просмотр геозон</td></tr>
        <tr><td></td><td></td><td></td><td align="right">3</td><td>Просмотр шаблонов отчетов</td></tr>
        <tr><td></td><td></td><td align="right">4</td><td>Импортируем файл с уведомлениями</td></tr>
        <tr><td>2</td><td>Дожидаемся от установщика:</td></tr>
        <tr><td></td><td align="right">1</td><td>Фото прибора с ID</td></tr>
        <tr><td></td><td align="right">2</td><td>Фото госномера</td></tr>
        <tr><td></td><td align="right">3</td><td>Фото цвета машины</td></tr>
        <tr><td></td><td align="right">4</td><td>Фото пробега</td></tr>
        <tr><td></td><td align="right">5</td><td>Запрашиваем марку, модель</td></tr>
        <tr><td></td><td align="right">6</td><td>Если машина грузовая, запрашиваем общее фото машины (для выбора иконки)</td></tr>
        <tr><td></td><td align="right">7</td><td>Запрашиваем информацию по Блокировке</td></tr>
        <tr><td></td><td align="right">8</td><td>Находим данные по прибору в таблице "Оборудование у монтажников"</td></tr>
        <tr><td></td><td align="right">9</td><td>Переносим в таблицу "Установки"</td></tr>
        <tr><td></td><td align="right">10</td><td>Заполняем данные: дата, место, марку, модель, госномер, устанощик, клиент, логин, пароль</td></tr>
        <tr><td>3</td><td>Заносим объект в Wialon:</td></tr>
        <tr><td></td><td align="right">1</td><td>если клиент НЕ на 1м сервере:</td></tr>
        <tr><td></td><td></td><td align="right">1</td><td>ID прибора вставляем в объект "Hosting" (на 1м сервере)</td></tr>
        <tr><td></td><td></td><td align="right">1</td><td>На нужном сервере применяем правило создания объектов:</td></tr>
        <tr><td></td><td></td><td align="right">1</td><td>Ждём данных от прибора на 1м сервере, отправляем команду на смену сервера</td></tr>
        <tr><td></td><td></td><td align="right">1</td><td>Дожидаемся данных на нужном сервере, удаляем ID на 1м сервере</td></tr>
        <tr><td></td><td align="right">2</td><td>если клиент на 1м сервере:</td></tr>
        <tr><td></td><td></td><td align="right">1</td><td>Применяем правило создания объектов</td></tr>
        <tr><td>4</td><td>если клиент НОВЫЙ, присылаем ему "Инструкцию входа"</td></tr>
        <tr><td>5</td><td>Ждём информацию от установщика о завершении установки или начале следущей установки:</td></tr>
        <tr><td></td><td align="right">1</td><td>Проверяем датчик "Бортовое напряжение"</td></tr>
        <tr><td></td><td></td><td align="right">1</td><td>если напряжение 12-14.9 или 24-28 (норм)</td></tr>
        <tr><td></td><td></td><td align="right">2</td><td>если не в этом диапазоне, передаём информацию установщику</td></tr>
        <tr><td></td><td align="right">2</td><td>Проверяем информацию по калибровке акселерометра:</td></tr>
        <tr><td></td><td></td><td align="right">1</td><td>если установщик произвёл калибровку Акселерометра (cmd_ans: ACL_C:G;):</td></tr>
        <tr><td></td><td></td><td></td><td align="right">1</td><td>Удаляем команду "Калибровка акселерометра"</td></tr>
        <tr><td></td><td></td><td align="right">2</td><td>если установщик не произвёл калибровку Акселерометра:</td></tr>
        <tr><td></td><td></td><td></td><td align="right">1</td><td>Добавить в группу  "Доработка" (Wialon)</td></tr>
        <tr><td></td><td></td><td></td><td align="right">2</td><td>Подождать, когда машина будет стоять не менее 30 мин с ВЫКЛ зажагинием и запустить калибровку Акселерометра</td></tr>
        <tr><td></td><td></td><td></td><td align="right">3</td><td>Дождаться ответа ответа об успешной завершении калибровки, через 30 сек cmd_ans: ACL_C:G</td></tr>
        <tr><td></td><td></td><td></td><td align="right">4</td><td>Удалить из группы "Доработка"</td></tr>
        <tr><td align="right">6</td><td>Добавляем уведомления на объект</td></tr>
        <tr><td align="right">7</td><td>Заносим в таблицу по оплате</td></tr>
      </tbody>
    </table></p>
    <h1>По оплате</h1>
    <table border="1" cellspacing="0">
      <caption>Условные обозначения по клиентам</caption>
      <tbody>
        <tr><th>Обозначение</th><th>Значение</th></tr>
        <tr><td style="background: green;">Петров Иван</td><td>Оплативший клиент</td></tr>
        <tr><td style="background: red;">Петров Иван</td><td>Клиент с задолженностью</td></tr>
        <tr><td style="color: blue"><b>Петров Иван</b></td><td>Предоплатные</td></tr>
        <tr><td><b>Петров Иван</b></td><td>Предоплатные (в начале месяца)</td></tr>
        <tr><td>Петров Иван</td><td>Постоплатные</td></tr>
      </tbody>
    </table>
    <table border="1" cellspacing="0">
      <caption>Сообщения</caption>
      <tbody>
        <tr><th>№</th><th>Сообщение</th></tr>
        <tr><td>1</td><td>Добрый день! Переведите, пожалуйста, 1050 руб за 3 объекта Wialon в Марте. На Сбер, Альфа или Тинькофф по моему номеру телефона 89154545686 (Андрей Алексеевич Л)</td></tr>
        <tr><td>2</td><td>!Обязательно, чек сюда пришлите, пожалуйста!</td></tr>
      </tbody>
    </table>
    * Если имеется задолжность, сначала писать итоговую сумму, затем расписывать, например:
    <p>Добрый день! Переведите, пожалуйста, <span style="color: red">3000 руб = 1950 руб за установки + 1050 руб за 3 объекта Wialon в Марте</span>. На Сбер, Альфа или Тинькофф по моему номеру телефона 89154545686 (Андрей Алексеевич Л).</p>
    <table border="1" cellspacing="0">
      <caption>Крайнее сообщение</caption>
      <tbody>
        <tr><th>№</th><th>Сообщение</th></tr>
        <tr><td>1</td><td>Добрый день! Переведите, пожалуйста, 1050 руб за 3 объекта Wialon в Марте. На Сбер, Альфа или Тинькофф по моему номеру телефона 89154545686 (Андрей Алексеевич Л)</td></tr>
        <tr><td>2</td><td>!Обязательно, чек сюда пришлите, пожалуйста!</td></tr>
        <tr><td>3</td><td>Без оплаты, доступ к учётной записи Wialon завтра будет заблокирован.</td></tr>
      </tbody>
    </table>
    <p><table border="1" cellspacing="0">
      <caption>График постоплатных</caption>
      <tbody>
        <tr><th>3-й сервер</th><th>1-й сервер</th></th><th>2-й сервер</th></tr>
        <tr><td>1</td><td>2</td><td>3</td></tr>
        <tr><td>4</td><td>5</td><td>6</td></tr>
        <tr><td>7</td><td>8</td><td>9</td></tr>
      </tbody>
    </table></p>
{% endblock %}