{% extends 'base.html' %}
{% block title %}Макс-инструкции{% endblock %}
{% block content %}
    <h2>Сообщения клиентам</h2>
    <table>
      <caption>Таблица сообщений новым клиентам</caption>
      <tbody>
	<tr><th rowspan="2">№</th><th colspan="3">Текст</th></tr>
	<tr><th colspan="2">COM / RU</th><th>Local</th></tr>
	<tr><td>1</td><td>Имя и фамилию скажите, пожалуйста, используем для Логина</td><td><a href="https://contacts.google.com/?hl=ru" target="_blank">Google контакты</a></td><td></td></tr>
	<tr><td rowspan="4">2</td><td colspan="2" rowspan="4">Скачайте приложение "??Wialon??"</td><td>Скачайте приложение "Wialon local"</td></tr>
	<tr><td>Адрес сервера (нужно вставить в верхнюю строку в приложении):</td></tr>
	<tr><td>http://online.wialon.center/</td></tr>
	<tr><td>Далее нажимайте галочку или кнопку "Открыть"</td></tr>
	<tr><td>3</td><td colspan="3">Логин:</td></tr>
	<tr><td>4</td><td colspan="3"><span class="wialon-login">ИванПетров</span><form class="form-wia-login-change" method="get" action="#"><input type="text" name="wialon-login" id="wialon-login" class="change-wia-login" placeholder="ИванПетров"><button type="button" class="button-change-wia-login">Изменить</button></form></td></tr>
	<tr><td rowspan="2"></td><td colspan="2" rowspan="2"></td><td>Инструкция по входу:</td></tr>
	<tr><td>--Фото с инструкцией по входу--</td></tr>
	<tr><td>5</td><td colspan="3">Пароль:</td></tr>
	<tr><td>6</td><td colspan="3"><span class="wialon-password">m5r0H</span><form class="form-wia-password-change" method="get" action="#"><input type="text" name="wialon-password" id="wialon-password" class="change-wia-password" placeholder="m5r0H"><button type="button" class="button-change-wia-password">Изменить</button></form></td></tr>
        <tr><td>7</td><td colspan="3">Настройки приложения сделайте такими:</td></tr>
        <tr><td>8</td><td colspan="3">--Фото с настройками приложения--</td></tr>
        <tr><td>9</td><td colspan="3">
            Вам будет настроены PUSH-уведомления:<br>
            -Отключение питания прибора<br>
            -Потеря связи с прибором<br>
            -Разряд аккумуляторной батареи на машине<br>
            -Выезд из Московской области<br>
            Если нужно изменить уведомления или ненужные отключить, дайте знать</td></tr>
        <tr><td>10</td><td colspan="3">По абонентскому обслуживанию, мы вам буду отписывать о переводе начиная с 20 или 25 числа - за следующий месяц</td></tr>
        <tr><td>11</td><td colspan="3">Если какое-то время не планируете пользоваться, можно отключить объект и симку на срок до 6 месяцев. Далее оператор может заблокировать симку</td></tr>
      </tbody>
    </table>
    <p><table>
      <caption>Дополнительные сoобщения</caption>
      <tbody>
	      <tr><th>№</th><th>Текст</th></tr>
        <tr><td>1</td><td>Добрый день, дошли, спасибо. Запрос на разблокировку СИМ-карт отправлен. Оператор связи обрабатывает заявки в течении суток</td></tr>
	      <tr><td>2</td><td>Добрый день. Проверяем информацию. В ближайшее время вам отпишемся</td></tr>
      </tbody>
    </table></p>
    <p>
      <h2>РНИС</h2>
      <dl>
	<dt>Протокол:</dt>
        <dd>ЕГТС</dd>
        <dt>марка/модель:</dt>
	<dd>Navtelecom/Smart</dd>
	<dd>Neomatica/ADM333</dd>
        <dt>Идентификатор:</dt>
        <dd>a777aa77</dd>
        <dd>43170027</dd>
      <dl>
    </p>
    <h2>Правило создание объектов:</h2>
    <ol>
      <li>Копируем объект "Hosting"</li>
      <li>Имя объекта</li>
      <li>ID объекта</li>
      <li>Учётная запись клиента</li>
      <li>Доступ пользователя к объекту "Стандарт"</li>
      <li>Иконка</li>
      <li>Произвольные поля</li>
      <li>Заносим в группу установщика и клента (или Частника)</li>
    </ol>
    <h2>Функция "Новая Установка":</h2>
    <ol>
      <li>Дожидаемся от Лехтина А:</li>
        <ol>
          <li>Имя клиента</li>
          <li>Инофрамцию новый или старый клиент</li>
          <li>если клиент новый:</li>
	    <ol>
              <li>Запрашиваем информацию на каком он будет сервере</li>
              <li>Создаём учётную запись(номер телефона через 8) и пользователя (пароль 5 знаков)</li>
              <li>Даём права новому пользователю на учётную запись "Общие":</li>
                <ol>
                  <li>Просмотр элемента и его основных свойств</li>
                  <li>Просмотр геозон</li>
                  <li>Просмотр шаблонов отчетов</li>
	        </ol>
              <li>Импортируем файл с уведомлениями</li>
	    </ol>
          </ol>
        <li>Дожидаемся от установщика:</li>
	  <ol>
            <li>Фото прибора с ID</li>
            <li>Фото госномера</li>
            <li>Фото цвета машины</li>
            <li>Фото пробега</li>
            <li>Запрашиваем марку, модель</li>
            <li>Если машина грузовая, запрашиваем общее фото машины (для выбора иконки)</li>
            <li>Запрашиваем информацию по Блокировке</li>
            <li>Находим данные по прибору в таблице "Оборудование у монтажников"</li>
            <li>Переносим в таблицу "Установки"</li>
            <li>Заполняем данные: дата, место, марку, модель, госномер, устанощик, клиент, логин, пароль</li>
	  </ol>
	<li>Заносим объект в Wialon:</li>
	  <ol>
            <li>если клиент НЕ на 1м сервере:</li>
	      <ol>
                <li>ID прибора вставляем в объект "Hosting" (на 1м сервере)</li>
                <li>На нужном сервере применяем правило создания объектов:</li>
                <li>Ждём данных от прибора на 1м сервере, отправляем команду на смену сервера</li>
                <li>Дожидаемся данных на нужном сервере, удаляем ID на 1м сервере</li>
              </ol>
            <li>если клиент на 1м сервере:</li>
	      <ol>
                <li>Применяем правило создания объектов</li>
	      </ol>
	  </ol>
        <li>если клиент НОВЫЙ, присылаем ему "Инструкцию входа"</li>
        <li>Ждём информацию от установщика о завершении установки или начале следущей установки:</li>
          <ol>    
	    <li>Проверяем датчик "Бортовое напряжение":</li>
	      <ol>
                <li>если напряжение 12-14.9 или 24-28 (норм)</li>
                <li>если не в этом диапазоне, передаём информацию установщику</li>
	      </ol>
            <li>Проверяем информацию по калибровке акселерометра:</li>
	      <ol>
                <li>если установщик произвёл калибровку Акселерометра (cmd_ans: ACL_C:G;):</li>
		  <ol>
                    <li>Удаляем команду "Калибровка акселерометра"</li>
		  </ol>
                <li>если установщик не произвёл калибровку Акселерометра:</li>
		  <ol>
                    <li>Добавить в группу  "Доработка" (Wialon)</li>
                    <li>Подождать, когда машина будет стоять не менее 30 мин с ВЫКЛ зажагинием и запустить калибровку Акселерометра</li>
                    <li>Дождаться ответа ответа об успешной завершении калибровки, через 30 сек cmd_ans: ACL_C:G</li>
                    <li>Удалить из группы "Доработка"</li>
		  </ol>
	      </ol>	  
          </ol>
	<li>Если установщик просит изменить работу Зажигания по напряжению:</li>
	  <ol>
	    <li>Изменяем напряжение в самом приборе, подключившись удалённо, либо отправив команду</li>
	    <li>В произвольных административных полях заносим "Зажигание: по напряжению"</li>
          </ol>
        <li>Добавляем уведомления на объект</li>
        <li>Заносим в таблицу по оплате</li>
      </ol>
    <h2>По оплате</h2>
    <table>
      <caption>Условные обозначения по клиентам</caption>
      <tbody>
        <tr><th>Обозначение</th><th>Значение</th></tr>
        <tr><td style="background: green;">Петров Иван</td><td>Оплативший клиент</td></tr>
        <tr><td style="background: red;">Петров Иван</td><td>Клиент с задолженностью</td></tr>
        <tr><td style="color: blue"><b>Петров Иван</b></td><td>Предоплатные</td></tr>
        <tr><td><b>Петров Иван</b></td><td>Предоплатные (в начале месяца)</td></tr>
        <tr><td>Петров Иван</td><td>Постоплатные</td></tr>
      </tbody>
    </table>
    <table>
      <caption>Сообщения об оплате</caption>
      <tbody>
        <tr><th>№</th><th>Сообщение</th></tr>
        <tr><td>1</td><td>Добрый день! Напоминаем о переводе за приложение в Августе: 1050 руб за 3 объекта. На Сбер, Альфа или Тинькофф по номеру телефона +79154545686 (Андрей Алексеевич Л)</td></tr>
        <tr><td>2</td><td>!Обязательно, чек сюда пришлите, пожалуйста!</td></tr>
      </tbody>
    </table>
    <table>
      <caption>Дополнительные сообщения</caption>
      <tbody>
        <tr><th>Ситуация</th><th>Сообщение</th></tr>
        <tr><td>При наличии долга за установки</td><td>Добрый день! Напоминаем о переводе за приложение в Августе:  <span style="color: red">3000 руб = 1950 руб за установки + 1050 руб за 3 объекта</span>. На Сбер, Альфа или Тинькофф по номеру телефона +79154545686 (Андрей Алексеевич Л)</td></tr>
        <tr><td>При просьбе отсрочить платёж</td><td>К сожалению, отсрочить дату платежа мы не сможем. При первой возможности оплатите, и мы возобновим работу учётной записи.</td></tr>
        <tr><td>При крайнем напоминании</td><td>Без оплаты, доступ к учётной записи завтра будет заблокирован.</td></tr>
      </tbody>
    </table>
    <p><table>
      <caption>График постоплатных</caption>
      <tbody>
        <tr><th>3-й сервер</th><th>1-й сервер</th></th><th>2-й сервер</th></tr>
        <tr><td>1</td><td>2</td><td>3</td></tr>
        <tr><td>4</td><td>5</td><td>6</td></tr>
        <tr><td>7</td><td>8</td><td>9</td></tr>
      </tbody>
    </table></p>
{% endblock %}
