{% extends 'base.html' %}
{% block title %}Резерв{% endblock %}
{% block content %}
<ul class="table-list">
  <li class="card-table"><table>
    <caption>Малашин</caption>
    <tr>
      <th>Номенклатура</th>
      <th>Кол-во</th>
    </tr>
    <tr>
      <td>S-2011</td>
      <td>{{ malash_2011 }}</td>
    </tr>
    <tr>
      <td>S-2421</td>
      <td>{{ malash_2421 }}</td>
    </tr>
    <tr>
      <td>S-2423</td>
      <td>{{ malash_2423 }}</td>
    </tr>
    <tr>
      <td>S-2425</td>
      <td>{{ malash_2425 }}</td>
    </tr>
    <tr>
      <td>S-2435 1CAN</td>
      <td>{{ malash_2435 }}</td>
    </tr>
    <tr>
      <td>S-2437 2CAN</td>
      <td>{{ malash_2437 }}</td>
    </tr>
    <tr>
      <td>ADM333</td>
      <td>{{ malash_333 }}</td>
    </tr>
    <tr>
      <td>ADM007</td>
      <td>{{ malash_007 }}</td>
    </tr>
    <tr>
      <td>X-Keeper Invis Duos</td>
      <td>{{ malash_invis_duos }}</td>
    </tr>
    <tr>
      <td>X-Keeper Invis Duos S</td>
      <td>{{ malash_invis_duos_s }}</td>
    </tr>
    <tr>
      <td>X-Keeper Invis Duos 3D L</td>
      <td>{{ malash_invis_duos_3d_l }}</td>
    </tr>
     <tr>
      <td>МТС</td>
      <td>{{ malash_mts }}</td>
    </tr>
    <tr>
      <td>Мегафон</td>
      <td>{{ malash_mega }}</td>
    </tr>
    <tr>
      <td>СИМ2М</td>
      <td>{{ malash_sim2m }}</td>
    </tr>
  </table></li>
  <li class="card-table"><table>
    <caption>Сумбулов</caption>
    <tr>
      <th>Номенклатура</th>
      <th>Кол-во</th>
    </tr>
    <tr>
      <td>S-2011</td>
      <td>{{ symb_2011 }}</td>
    </tr>
    <tr>
      <td>S-2421</td>
      <td>{{ symb_2421 }}</td>
    </tr>
    <tr>
      <td>S-2423</td>
      <td>{{ symb_2423 }}</td>
    </tr>
    <tr>
      <td>S-2425</td>
      <td>{{ symb_2425 }}</td>
    </tr>
    <tr>
      <td>S-2435 1CAN</td>
      <td>{{ symb_2435 }}</td>
    </tr>
    <tr>
      <td>S-2437 2CAN</td>
      <td>{{ symb_2437 }}</td>
    </tr>
    <tr>
      <td>ADM333</td>
      <td>{{ symb_333 }}</td>
    </tr>
    <tr>
      <td>ADM007</td>
      <td>{{ symb_007 }}</td>
    </tr>
    <tr>
      <td>X-Keeper Invis Duos</td>
      <td>{{ symb_invis_duos }}</td>
    </tr>
    <tr>
      <td>X-Keeper Invis Duos S</td>
      <td>{{ symb_invis_duos_s }}</td>
    </tr>
    <tr>
      <td>X-Keeper Invis Duos 3D L</td>
      <td>{{ symb_invis_duos_3d_l }}</td>
    </tr>
    <tr>
      <td>МТС</td>
      <td>{{ symb_mts }}</td>
    </tr>
    <tr>
      <td>Мегафон</td>
      <td>{{ symb_mega }}</td>
    </tr>
    <tr>
      <td>СИМ2М</td>
      <td>{{ symb_sim2m }}</td>
    </tr>
  </table></li>
  <li class="card-table"><table>
    <caption>Артём Ярославль</caption>
    <tr>
      <th>Номенклатура</th>
      <th>Кол-во</th>
    </tr>
    <tr>
      <td>S-2420</td>
      <td>{{ yar_2420 }}</td>
    </tr>
    <tr>
      <td>S-2421</td>
      <td>{{ yar_2421 }}</td>
    </tr>
  </table></li>
  <li class="card-table"><table>
    <caption>Лехтин</caption>
    <tr>
      <th>Номенклатура</th>
      <th>Кол-во</th>
    </tr>
    <tr>
      <td>S-2011</td>
      <td>{{ leht_2011 }}</td>
    </tr>
    <tr>
      <td>S-2421</td>
      <td>{{ leht_2421 }}</td>
    </tr>
    <tr>
      <td>S-2423</td>
      <td>{{ leht_2423 }}</td>
    </tr>
    <tr>
    <tr>
      <td>S-2425</td>
      <td>{{ leht_2425 }}</td>
    </tr>
    <tr>
      <td>S-2435 1CAN</td>
      <td>{{ leht_2435 }}</td>
    </tr>
    <tr>
      <td>S-2437 2CAN</td>
      <td>{{ leht_2437 }}</td>
    </tr>
    <tr>
      <td>ADM333</td>
      <td>{{ leht_333 }}</td>
    </tr>
    <tr>
      <td>ADM007</td>
      <td>{{ leht_007 }}</td>
    </tr>
    <tr>
      <td>X-Keeper Invis Duos</td>
      <td>{{ leht_invis_duos }}</td>
    </tr>
    <tr>
      <td>X-Keeper Invis Duos S</td>
      <td>{{ leht_invis_duos_s }}</td>
    </tr>
    <tr>
      <td>X-Keeper Invis Duos 3D L</td>
      <td>{{ leht_invis_duos_3d_l }}</td>
    </tr>
    <tr>
      <td>МТС</td>
      <td>{{ leht_mts }}</td>
    </tr>
    <tr>
      <td>Мегафон</td>
      <td>{{ leht_mega }}</td>
    </tr>
    <tr>
      <td>СИМ2М</td>
      <td>{{ leht_sim2m }}</td>
    </tr>
  </table></li>
{% endblock %}
