{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <p>Объектов на сервере: {{ serv_all_active_obj }} шт.</p>
  <p><table>
    <caption>Клиенты/Активные объекты</caption>
    <thead>
      <tr>
        <th>Клиент</th>
        <th>Кол-во</th>
        <th>Стоимость</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
    {% for client in human_list %}
      <tr>
        <td>{{ client }}</td>
        <td>{{ client.active }}</td>
        <td>{{ client.cost }}</td>
        <td>{{ client.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table></p>
{% endblock %}
