{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <p><table>
      <caption>Активные объекты</caption>
      <thead>
        <tr>
          <th>Сервер</th>
          <th>Кол-во</th>
        </tr>
      </thead>
      <tbody>
      {% for serv in wia_obj_serv_active %}
        <tr>
          <td>{{ serv }}</td>
          <td>{{ serv.active }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table></p>
   <p><table>
    <caption>Юр лица/Активные объекты</caption>
    <thead>
      <tr>
        <th>Клиент</th>
        <th>Кол-во</th>
      </tr>
    </thead>
    <tbody>
    {% for client in company_list_annot %}
      <tr>
        <td>{{ client }}</td>
        <td>{{ client.active }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table></p>
  <p><table>
    <caption>Клиенты/Активные объекты</caption>
    <thead>
      <tr>
        <th>Клиент</th>
        <th>Кол-во</th>
      </tr>
    </thead>
    <tbody>
    {% for client in human_list_server %}
      <tr>
        <td>{{ client }}</td>
        <td>{{ client.active }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table></p>
{% endblock %}
