{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<p>
  <table>
    <caption>Замена симкарт</caption>
    <thead>
      <tr>
        <th>Оператор</th>
        <th>Номер</th>
          <th>ICC</th>
          <th>Дата блокировки</th>
      </tr>
    </thead>
    <tbody>
      {% for sim in sim_list_replace %}
      <tr>
        <td>{{ sim.operator }}</td>
        <td class="copy-all">{{ sim.number }}</td>
        <td class="copy-all">{{ sim.icc }}</td>
        <td>{{ sim.data_deactivate }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</p>
<p>
  <table>
    <caption>Симкарты на удаление</caption>
      <thead>
        <tr>
          <th>Оператор</th>
          <th>Номер</th>
          <th>ICC</th>
          <th>Дата деактивации</th>
        </tr>
      </thead>
      <tbody>
      {% for sim in sim_list %}
        <tr>
          <td>{{ sim.operator }}</td>
          <td class="copy-all">{{ sim.number }}</td>
          <td class="copy-all">{{ sim.icc }}</td>
          <td>{{ sim.data_deactivate }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</p>
<p>
  <table>
    <caption>СИМки на удаление в объектах</caption>
      <thead>
        <tr>
          <th>Имя объекта</th>
          <th>Дата оплаты</th>
          <th>Фамииля</th>
          <th>Имя</th>
          <th>СИМка</th>
          <th>Оператор</th>
        </tr>
      </thead>
      <tbody>
      {% for object in later_objects %}
        <tr>
          <td class="copy-all">{{ object.name }}</td>
          <td class="copy-all">{{ object.date_change_status }}</td>
          <td class="copy-all">{{ object.last_name }}</td>
          <td class="copy-all">{{ object.payer_name }}</td>
          <td class="copy-all">{{ object.number }}</td>
          <td class="copy-all">{{ object.operator_name }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</p>
{% endblock %}
