<nav class="navigation">
  <ul class="navigation-list">
    <li>
      <a class="navigation-link" href="{% url 'general_app:index-view' %}">
        Чек-страница
      </a>
    </li>
        <li>
      <a class="navigation-link" href="{% url 'general_app:reserve-view' %}">
        Резерв
      </a>
    </li>
    <li>
      <a class="navigation-link" href="{% url 'general_app:clients-view' %}">
        Клиенты
      </a>
    </li>
    <li>
      <a class="navigation-link" href="{% url 'general_app:server-view' server_id=1 %}">
        Wialon
      </a>
    </li>
    <li>
      <a class="navigation-link" href="{% url 'general_app:server-view' server_id=4 %}">
        ГЛОНАССсофт
    </a>
    </li>
    <li>
      <a class="navigation-link" href="{% url 'general_app:delete-sim-view' %}">
        Удаление СИМ
      </a>
    </li>
    <li>
      <a class="navigation-link" href="{% url 'general_app:maks-func-view' %}">
        Инструкции
    </a>
    </li>
    <li>
      <a class="navigation-link" href="{% url 'general_app:info-view' %}">Информация</a>
    </li>
  </ul>
</nav>
