/* .body-background-color {
  background: #222;
  color: white;
} */
body {
  font-family: 'Arial', sans-serif;
}

tbody tr:nth-child(odd) {
  background-color: #EEE;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 3px;
  border: 1px solid black;
}

.navigation {
  border-bottom: 1px solid black;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

.navigation-link:hover {
  background-color: #FF5555;
  border-radius: 3px;
}

.table-list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  column-gap: 5px;
  row-gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.card-table {
  margin: 0 auto;
}
