/* .body-background-color {
  background: #222;
  color: white;
} */
body {
  margin: 0;
}

tbody tr:nth-child(odd) {
  background-color: #EEE;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 3px;
  border: 1px solid black;
}

.navigation {
  border-bottom: 1px solid black;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

.navigation-link:hover {
  background-color: #FF5555;
  border-radius: 3px;
}
